fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart
llama-index>=0.10.19
llama-index-core>=0.10.19
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
qdrant-client
docling>=1.0.0
pydantic-settings
streamlit
requests
fastembed
llama-index-llms-openai
llama-index-llms-anthropic
llama-index-llms-gemini
FlagEmbedding
